body{
    color: black;
}
.container{
    display: flex;
    /* border: 2px solid black; */
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* justify-content: ; */
}
.flexitem{
    background-color: white;
    border: 0.2rem solid rgb(111, 174, 255);
    margin: 2% 0%;
}
.flexitem:hover{
    box-shadow: 0.5rem 0.5rem 0.5rem  rgb(74, 77, 84);
}
.flexitem img{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.img{
    width: 305px;
    height: 200px;
}
.flexitem span{
    width: 100%;
    align-items: center;
    vertical-align: middle;
    height: 20%;
    margin: 0%;
    justify-content: center;
    size: 1rem;
    display: flex;
    flex-direction: row;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
   /* justify-content: baseline; */

}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  font-size: 28px;
  padding:5px 15px 10px 10px;
  border-radius: 5px;
  background-color: #a7daff;
  color: rgb(252, 166, 7);
  transform: rotate(-90deg);
  cursor: pointer;
  
}

#back-to-top-btn:hover {
  background-color: #fff3cd;
}
